
.detail-page{
    display: flex;
    flex-direction: row;
}
.active{
    color: white;
    text-decoration: none;
    cursor: pointer;
    background-color: purple;
    padding: 5px;
    margin: 5px;
}
.item-page{
    padding: 10px;
    margin: 10px;
}